body{
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
}

.fa-user-circle,.fa-shopping-cart{
    margin-left: -25px;
}
.navbar-brand{
    font-size: 30px;
    margin-top: -10px;
}
footer h3{
    font-size: 16px;
}
footer p{
    color: rgba(255, 255, 255, 0.555);
}
.border-success{
    font-size: 14px;
}
.skygarden-app{
    margin-bottom: 150px;
  
}
.skygarden-app-footer{
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0,0.9)), url('../images/Annotation\ 2020-08-19\ 212238.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.skygarden-app-content{
background: linear-gradient(rgba(0, 0, 0, 0.911)1%, rgba(1,1,1)90%);

}
.top-nav{
    background-color: black;
    font-size: 13px;
    padding: 5px;
}
.positon-fixed{
    
    position: fixed;
    width: 100%;
    z-index: 1;
}
#carousel{
    padding-top: 10vh;
}
#deals, #featured, #customer-say, #customer{
    background-color: rgb(242, 242, 242);
}
.height-70{
    height: 55vh;
}
#home-essentials .bg-img{
    background: url(https://sky.garden/assets/home-essentials/fmcg-desktop-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#stories .bg-img{
    background: url(https://sky.garden/assets/stories/our-stories-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.quote-width{
    width: 350px;
    height: 380px;
    margin-bottom: 32px;
  
}
.quote-widt{
    width: 320px;
    height: 200px;
    margin-bottom: 32px;
}
#customer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0px;
}
.carousel-item{
    background: url('../images/bgg.jpg');
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    height: 60vh;
}
.cia{
    
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    height: 60vh;
}

button{
    outline: none !important;
}
#login{
    height: 100vh;
    padding-top: 30vh;
}
#log-in{
    height: 100vh;
    padding-top: 30vh;
    display: none;
}
#login input, .btn{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    outline: none;
}
#log-in{
    height: 150vh;
    padding-top: 30vh;
}
#log-in input, .btn, #payment-section input, #payment-section textarea{
    width: 100%;
    height: 60px;
    padding-left: 20px;
   outline: none;
}
#firstName_message, #phonenumber_message, #emailaddress_message, #lastName_message, #phone_message, #email_message {
    color: crimson;
}
#cart{
    height: 120vh;
    padding-top: 30vh;
    
}
a{
    text-decoration: none !important;
}
#dropdown-menu{
    position: fixed !important;
    
}
#address{
    padding: 12px 0px;
    margin: 0px auto;
}
#about{
    padding-top: 30vh;
    padding-bottom: 10vh;
}
#about p{
    font-size: 18px;
}
#about h3{
    margin: 20px 0px;
    font-size: 25px;
}
#award img{
    width: 5em;
    height: 4em;
}
.p-45{
    padding: 35px;

    background-color: rgb(35, 31, 32);
}
@media only screen and (max-width: 990px){
    .border-design{
        border: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
@media only screen and (max-width: 425px){
    #stories h1, #home-essentials h1{
            font-size: 30px;
        }
    #stories h1{
            font-size: 25px;
        }
    #carousel{
        display: none;
    }
    
    #carousel-small{
        background: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
       background-size: cover;
        height: 60vh;
        display: block !important;
    }
    .skygarden-app h1{
        font-size: 45px;
    }
    .skygarden-app img{
        width: 35% !important;
    }
}


